
<% if(!currentUser) { %>
    <a href="/auth/signup" class='links'>Signup</a> |
<a href="/auth/login" class = 'links'>Login</a> |

<% } else{ %>
    <a href="/auth/logout" class ='links'>Logout</a> |
    <a href="/profile" class = 'links'>My garden</a>

<% } %>





<h2>My Eden</h2>

<form action="/vegetable" method= "GET">
<input type="text"placeholder ='Vegtable Search' class = 'veggieInput' name = 'veggieInput' >
<input type="submit" name="inputVeg" class = 'veggieInput'>
<img src="/img/garden.jpg" alt="background garden " class ='bgGarden'>
</form>

