
<% if(!currentUser) { %>
    <a href="/auth/signup" class='links'>Signup</a> |
<a href="/auth/login" class = 'links'>Login</a> |

<% } else{ %>
    <a href="/auth/logout" class ='links'>Logout</a> |
    <a href="/profile" class = 'links'>My garden</a>

<% } %>



<h2>My Eden</h2>
<form action="input"></form>

<img src="/img/Bottom-app-illustration.png" alt="leaf image" class = "leaf">
