
<% if(!currentUser) { %>
    <a href="/auth/signup" class='links'>Signup</a> |
<a href="/auth/login" class = 'links'>Login</a> |

<% } else{ %>
    <a href="/auth/logout" class ='links'>Logout</a> |
    <a href="/profile" class = 'links'>My garden</a>

<% } %>

<body>

    <h2>My Eden</h2>
    
    <div class = 'seachboxForm'>
        <form action="/vegetable" method= "GET">
            <input type="text"placeholder ='Vegtable Search' class = 'seachbox' name = 'veggieInput' >
            <input type="submit" name="inputVeg" class = 'seachboxSubmit'>
        </form>
    </div>
</body>


