<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyEden</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Latest compiled and minified CSS & JS -->
  </head>
  <body>
    
      
      
      
      
      <% include ./partials/alerts %>
    
<%- body %>
    
  </body>
</html>
