<h2>My Gardens</h2>

<a href="/">Home</a>
<p>Hello, <%= currentUser.name %></p>


<%# Get Id of Vegetables in the Garden %>

<% gardens.forEach(function (garden) { %>
    <a href="gardens/<%= garden.id %>">Enter the Garden</a>
    <p>Type of Garden: <%= garden.theme %> </p>
    <p>Location: <%= garden.location %> </p>
    
<% }) %>

