html,body {
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
h2{
    text-align: center;
}
a{
    text-align: center;
}
.title{
    text-align: center;
}
.location{
    text-align: center;
}
.vegetables{
    text-align: center;
    background-color: green;
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;

}
.seachboxForm{
    text-align: center;
    display:inline-block;
    
    background-color:transparent;
    width:627px;
    height: 53.7px;
    border: 1px #ccc solid;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;
    border: 1px #ccc solid;
}

.seachbox{
    
    width: 557px;
    height: 40px;
    font-size: 16px;
    position: relative;
    border-radius: 10px;
    font-family:'Roboto';
    display: block; 
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;
    margin-top: 10px;
    margin-left: 12px;
}
    

.seachboxSubmit{
    height: 51px;
    width: 51px;
    background: transparent url('../img/submitIcon.png') no-repeat;
    background-size: contain;
    border-width: 11px;
    overflow: hidden;
    vertical-align: top;
    border: 8px solid transparent;
    position: static;
    right: 0;
    top: 0;
    cursor: pointer;
    color:transparent;


}
.newgarden{
    text-align: center;
}
.bgGarden{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
