html,body {
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
}
h2{
    text-align: center;
}
a{
    text-align: center;
}
.veggieInput{
    position: relative;
    border-radius: 10px;
    font-family:'Roboto';
    width:627px;
    height: 53.7px;
    margin:30px auto 0; 
    display:block; 
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;
    
    
}
.bgGarden{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}