html,body {
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
}
h2{
    text-align: center;
}
a{
    text-align: center;
}
.veggieInput{
    position: relative;
    border-radius: 10px;
    font-family:'Roboto';
    width:600px; 
    margin:30px auto 0; 
    display:block; 
    background:transparent;
    border: 1px solid black;
    padding: 5px;
    
}
.bgGarden{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}