<h1 class = 'title'> Create A new Garden </h1>


<form  method="POST" action="/gardens" class = 'newgarden'>
    <label for="theme">Type:</label>
    <input type="text" name="theme" >
    <label for="location" name='location'>Location:</label>
    <input type="text" name ='location'>
    <input type="submit" value='Create New Garden'>
</form>




<a href="/profile">&larr; Back Home</a>