<h1> Create A new Garden </h1>


<form  method="POST" action="/gardens">
    <label for="theme">Type</label>
    <input type="text" name="theme" >
    <label for="location" name='location'></label>
    <input type="text" name ='location'/>
    <input type="submit" value='Create New Garden'>
</form>




<a href="/">&larr; Back Home</a>